{% set system = teebb_core.optionValue('system') %}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block seo %}
    {% endblock %}
    <title>{% block title %}洛阳至文信息技术有限公司{% endblock %}</title>

    {% block styles %}
        <!-- tabler core CSS -->
        <link href="{{ asset('teebb_com/vendor/tabler/css/tabler.min.css') }}" rel="stylesheet">
        {% block extra_styles %}{% endblock %}
        <!-- teebb core CSS -->
        <link href="{{ asset('teebb_com/assets/css/style.css') }}" rel="stylesheet">
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('teebb_com/assets/images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('teebb_com/assets/images/favicon.ico') }}" type="image/x-icon">
</head>

<body>


{% block body %}

{% endblock %}



{% block javascripts %}
    <!-- jquery core JavaScript -->
    <script src="{{ asset('teebb_com/vendor/jquery/jquery.min.js') }}"></script>

    <!-- bootstrap core JavaScript -->
    <script src="{{ asset('teebb_com/vendor/tabler/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

    <!-- tabler core JavaScript -->
    <script src="{{ asset('teebb_com/vendor/tabler/js/tabler.min.js') }}"></script>

    {% block extra_javascripts %}{% endblock %}

    <!-- teebb core JavaScript -->
    <script src="{{ asset('teebb_com/assets/js/teebb.js') }}"></script>
{% endblock %}
</body>

</html>